@model IEnumerable<BlogPlatform.Model.TagPosts>
@{
    Layout = "_Layout";
}

@foreach (var cat in Model)
{
    <p>@cat.post.Title</p>
    <p>@cat.post.Author</p>
    <p>@cat.post.Date</p>
    <p><a href="/TagPosts/Details/@cat.PostId">TestLink</a></p>
    <hr />
}

