
@{
    Layout = "_Layout";
}
<header>
    <h1>Welcome to M.A Blogs</h1>
    <span>-Matt and Angel</span>
</header>

    

Test Links Categories:
<a href="post/details/1">Software</a>
<a href="post/details/2">Cars</a>
    Test Links Tags:
<a href="TagPosts/Index/1">Education</a>
<a href="TagPosts/Index/2">C#</a>
<a href="TagPosts/Index/3">Ford</a>
    Test Link All Blogs:
<a href="Post/AllBlogs">Show all tha blogs</a>
