
@model IEnumerable<BlogPlatform.Model.Post>
@{
    Layout = "_Layout";
}


@foreach (var cat in Model)
{
    <p>@cat.Title</p>
    <p>@cat.Author</p>
    <p>@cat.Date</p>
    <p><a href="/Post/Post/@cat.PostId">Select Post</a></p>
    <hr />
}