
@model IEnumerable<BlogPlatform.Model.Post>
@{
    ViewData["Title"] = "Detail";
    Layout = null;
}


@foreach (var cat in Model)
{
    <p>@cat.Title</p>
    <p>@cat.Author</p>
    <p>@cat.Date</p>
    <p><a href="/TagPosts/Details/@cat.ID">TestLink</a></p>
    <hr />
}

