@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/CSS/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/style.css">
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<nav>
    <a href="#"><b>Home</b></a>
    <a href="#Categories"><b>Categories</b></a>
    <a href="#Tags"><b>Tags</b></a>
</nav>


<body>
    @RenderBody()
</body>
<footer>
    &copy; M.A-Blogs 2019
</footer>
</html>
