
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/CSS/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/style.css">
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>

<body>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#home">Create</a>
        <div class="dropdown">
            <button class="dropbtn">
                Blogs
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">All Blogs</a>
                <a href="#">Software</a>
                <a href="#">Cars</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                Tags
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">C#</a>
                <a href="#">Education</a>
                <a href="#">Ford</a>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
<footer>
    &copy; M.A-Blogs 2019
</footer>
</html>
