
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/CSS/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/style.css">
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<nav role="navigation">
    <ul>
        <li><a href="#">Home</a></li>
        <li>
            <a href="#">Categories</a>
            <ul class="dropdown">
                <li><a href="/Category/Index/">Cars</a></li>
                <li><a href="#">Software Development</a></li>
            </ul>
        </li>
        <li><a href="#">Tags</a>
            <ul class="dropdown">
                <li><a href="#">Sub-1</a></li>
                <li><a href="#">Sub-2</a></li>
                <li><a href="#">Sub-3</a></li>
                <li><a href="#">Sub-4</a></li>
            </ul>
        </li>

        </ul>
</nav>
<body>
    @RenderBody()
</body>
<footer>
    &copy; M.A-Blogs 2019
</footer>
</html>
