
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/CSS/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/style.css">
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>

<body>
    <div class="navbar">
        <a href="/Home/Index">Home</a>
        <div class="dropdown">
            <button class="dropbtn">
                Create
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Post/Create/1">Software Blog</a>
                <a href="/Post/Create/2">Car Blog</a>
                
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                Blogs
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Post/Allblogs">All Blogs</a>
                <a href="/Post/Details/1">Software</a>
                <a href="/Post/Details/2">Cars</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                Tags
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Post/Details/1">C#</a>
                <a href="/Post/Details/1">Education</a>
                <a href="/Post/Details/2">Ford</a>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
<footer>
    &copy; M.A-Blogs 2019
</footer>
</html>
